.jumbotron {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 20px solid midnightblue;
  background-color: white;
}

body {
  background-color: white;
}

.containerbar {
  align-items: center;
  width: 100;
}

.finage-ticker-tape-item {
  max-width: 60%;
}

.finage-ticker-item {
  max-width: 60%;
}

#container {
  height: 75%;
  width: 75%;
}

#chart {
  max-width: 75%;
  max-height: 75%;
  margin: 35px auto;
}